body{
    background-color: black;
}
.container{
    height: 400px;
    width: 700px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.stick{
    height: 100px;
    width: 200px;
    background-color: red;
    
}
