#container{
    background-color: #006747;
    height: 300px;
    width: 550px;
    position: relative;
    left: 350px;
    top: 250px;
}

.circle{
    background-color: #DA291C;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 170px;
    top: 50px;
}
