*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(150, 169, 185);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 500px;
    width: 500px;
    background-color: rgb(206, 211, 215);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    text-align: center;
    margin-top: 40px;
}

.text{
    font-size:larger;
    font-weight: bolder;
    margin-top: 20px;
    text-transform: capitalize;
    text-shadow: 10px;
}

.input{
    height: 35px;
    width: 350px;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
}

.button1{
    height: 30px;
    width: 350px;
    margin-top: 20px;
    border: 5px;
    background-color: black;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: bolder;
    border-radius: 10px;
}

